/* @font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeui.ttf");
    font-weight: 100;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/seguisb.ttf");
    font-weight: 500;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeuib.ttf");
    font-weight: 800;
} */
@font-face {
    font-family: 'Heebo';
    src: url('../assets/fonts/heebo.regular.ttf');
}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('../assets/fonts/heebo.black.ttf');
}

@font-face {
    font-family: 'impact';
    src: url('../assets/fonts/impact.ttf');
}

html,
body {
    -webkit-user-select: none;
    user-select: none;
    font-family: "Heebo";
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: auto;
    background-color: #d9c8f0;
}

/* 注 */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B2A4FF;
    font-size: 2em;
    font-weight: 800;
}

.open-screen {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    background-color: #d9c8f0;
    width: 100%;
    height: 100%;
    color:  #230C33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}

.btnNext {
    bottom: 10%;
    /* position: absolute; */
    margin-top: 2rem;
    width: 45%;
    font-size: 1.3rem;
    font-family: "Heebo";
    border-radius: 3rem;
    color:#230C33;
    border-color: #230C33;
    background-color: #d9c8f0;
    height: 10%;
}



@keyframes fade {
    from {
        background-color: #d9c8f0;
        color: #230C33;
    }
    to {
        color: #d9c8f0;
        background-color: #230C33;
    }
}
.text-screen {
    padding: 0% 10%;
}

.loader>img {
    width: 80vw;
    position: absolute;
    top: 20%;
    left:50%;
    transform: translateX(-50%);
}

.loader>p {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translateX(-50%);
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}



.kiriatHahadraca {
    position: relative;
    top: -3vh;
    width: 7rem;
}

.school {
    width: 5rem;
}

.logosContainer {
    position: absolute;
    top:-2%;
    left: 1%;
}
/* 爪注 */
.blue {
    filter: hue-rotate(140deg);
}

.darkBlue {
    filter: hue-rotate(140deg);
}

.yellow {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    filter: hue-rotate(140deg);
  
}

.orange {
    /* filter: hue-rotate(320deg); */
    filter: hue-rotate(340deg) brightness(1.25);
}   

.pink {
    /* filter: hue-rotate(280deg); */
    filter: hue-rotate(140deg);
 
}



.purple {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    filter: hue-rotate(215deg)brightness(0.7);
}

.red {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    /* filter: hue-rotate(140deg); */
}
.sub-titles {
    font-weight: bold;
    padding-top: 1rem;
}
 
.wave {
    width: 100%;
    z-index: 100;
}
/* 拽 注 */
.topButton {
    width: 4rem;
    position: absolute;
    top: 20vh;
    left: 4vw;
    /* border: solid; */
    z-index: 6;
}

.titleConeiner {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 2rem;
    position: fixed;
    top: 0vh;
    width: 100vw;
    text-align: center;
    z-index: 5;
}

.title {
    position: absolute;
    top: 2.3rem;
    font-size: 2.2rem;
    width: 100vw;
    text-align: center;
    color: #230C33; 
    font-weight: 600;
    z-index: 1000;
}

.titleMedShelfs {
    font-size: 2.1rem;
    text-align: center;
    color: #230C33; 
    font-weight: 600;
}

.titelMedId {
    right: 1vw;
    font-size: 1.7rem;
}

/* 驻砖 */
.searchBoxHolder {
    width: 73vw;
    position: absolute;
    top: 8vh;
    left: 3vw;
    z-index: 2;
}

.searchBox {
    width: 52vw;
    border-radius: 10vw;
    position: absolute;
    top: 9.7vh;
    left: 20vw;
    border: none;
    background-color: #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    direction: ltr;
    font-family: "Heebo";
    text-align: center;
    z-index: 2;
    outline: none;
}

.searchBox:focus {
    outline: none;
    top: 11vh;
}


.dropDown {
    pointer-events: none;
    width: 73vw;
    height: 63vh;
    position: absolute;
    left: 3vw;
    top: 23vh;
    overflow-y: scroll;
}

.dropDownItem {
    width: 73vw;
    height: 7vh;
    border-radius: 20vw;
    text-align: center;
    padding-top: 0.4em;
    margin-top: 0.1em;
    background-color: #f4f4f4;
}

.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

/* 转 */
.aboutButton {
    width: 7vw;
    position: absolute;
    top: 2vh;
    left: 3vw;
    z-index: 1000;
}

.aboutPage {
    padding: 1vh 4vw;
    /* height: 75%; */
    width: 92vw;
    position: absolute;
    top: 17vh;
    overflow: hidden;
    color: black ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* font-size: 1.4rem; */
    /* z-index: -1; */
}

.aboutHeadline {
    width: 20vw;
    color: #000000;
    display: block;
    margin: auto;
    font-weight: 800;
    font-size: 2em;
    position: relative;
    top: 5vh;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80vh;
}

.logos>img {
    width: 21vw;
}

.logotill {
 
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0vh;
    width: 21vw;
}

.mini-title {
    margin-bottom: 1rem;
}
/* 转专 砖 转专驻转 砖砖 转 */
.mainPageButton {
    border-radius: 0.8em;
    height: 15vh;
    width: 71vw;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0000009c;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueCard {
    background-image: url("../assets/images/cards/Asset\ 7.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.orangeCard {
    background-image: url("../assets/images/cards/Asset\ 8.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.yellowCard {
    background-image: url("../assets/images/cards/Asset\ 10.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pinkCard {
    background-image: url("../assets/images/cards/Asset\ 9.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.redCard {
    background-image: url("../assets/images/cards/Asset\ 11.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.darkBlueCard {
    background-image: url("../assets/images/cards/Asset\ 12.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.hide {
    display: none;
    width: 100vw;
    height: 100vh;
}

.name-table {
    text-align: center;
    padding: -4% 5%;
    font-size: 1.2rem;
}

.homePage {
    margin-top: 10rem;
}


.homePageButtonsScroll::-webkit-scrollbar {
    display: none;
}

.medHeadline {
    width: 60vw;
    position: relative;
    left: 0vw;
}

.td-tabel {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    width: 40%;
}

.text-tab {
    background-color: #7a0101;
    color: white;
    text-align: center;
    width: 50%;
    font-size: 1.1rem;
    position: relative;
    top: 40%;
    height: 20%;
    transform: rotate(270deg);
    padding: 0% 2%;
}

.picLeft {
    margin-left: 2vw;
}

.mainPagePic {
    width: 30%;
    margin-right: 2vw;
}

.homePageButtonsScroll {
    /* overflow-y: scroll; */
    margin-top: 8rem;
    width:100%;
}

.testButton {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;
}

/* 转注转 转 砖 转专驻转 */
.medicineId {
    pointer-events: none;
    padding: 1vh 4vw;
    height: 65vh;
    width: 92vw;
    position: absolute;
    top: 22vh;
    overflow-y: scroll;
}

.medicineId::-webkit-scrollbar {
    display: none;
}

.pic {
    /* width: 42vw; */
    height: 23vh;
    position: absolute;
    left: 5vw;
}

.idNextToPic {
    width: 42vw;
}

/* 驻 砖 转专驻转 */
.downButton {
    width: 8vw;
    position: absolute;
    margin-top: 2.4rem;
    left: 7vw;
}

.shelfs {
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 1.3rem;
    background-color: white;
    z-index: 1;
    margin-top: 1.5rem;
}

.shelf1 {
    margin-top: 15rem;
}
.shelf {
    position: relative;
    top: 4vh;
}

.shelfHedline {
    position: relative;
    text-align: center;
    font-weight: 350;
    font-size: 1.25rem;
    padding-right: 1em;
    /* color:#dfb17b; */
   
}

.shelfsdropDown {
    padding: 0 1em;
    font-size: 1.1em;
}

.shelfMedPic {
    position: fixed;
    height: 7vh;
    padding: 0.5em;
    padding-right: 0.1em;
}

.shelfMedPicContainer {
    background-color: white;
    height: fit-content;
    border-radius: 1em;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 1em;
    direction: rtl;
    padding: 6% 20%;
    text-align: center;
    /* font-weight: 300; */
}

.endTironotShelfs {
    background-color: white;
    height: 10vh;
    width: 70%;
    border-radius: 1em;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 1em;
    direction: rtl;
    padding: 11% 20%;
    text-align: center;
}

.endTironotShelfs {
    height: 100%;
}

.shelfPicSection {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.medShelf {
    margin-top: -11em;
    height: 91vh;
    overflow-y: scroll;
}

.medShelf::-webkit-scrollbar {
    display: none;
}

.medTypeSymbol {
    width: 17vw;
    position: fixed;
    top: 2.5vh;
    left: 80vw;
}

.shelfsButtons {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    width: 25vw;
}

.homeButton {
    width: 10vw;
    position: absolute;
    right: -15vw;
    bottom: 0vh;
    z-index: 101;
}

.introductionText {
    padding: 1% 10%;
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 14rem;
}

.introdText {
    text-align: center;
    color:#ffffff;
}

.fixPos {
    margin-top: 3rem;
}

.impText {
    padding: 3%;
    background-color: #7a0101;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInList {
     display: inline-block;
    padding: 2% 3%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0 0 0);
    background-color: #aaabaa75;
    border-radius: 5px;
    /* border: 2px solid #aaabaa00; */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.buttonText {
    text-align: center;
   position: relative;
}

.buttonText::after {
    content: '';
    /* content: "&#9757;&#127995"; */
    position: absolute;
    bottom: -1rem;
    /* left: 0; */
    right: 0;
    font-size: 1.5rem;
    transform: rotate(330deg);
}

.btnDown {
    text-align: center;
    position: relative;
    right: 24vw;
    align-content: center;
}

.div-text {
    text-align: center;
}

.mahaz-div {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: solid 1.5px #000000;
}

.div-conclustion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0% 10% 5%;
    font-size: 1.3rem;
    position: relative;
    top: 4rem;
}

.big-list {
    font-weight: 500;
    font-size: 1.5rem;
    top: 10%;
    position: relative;
}

.searchButton[src="../assets/images/grapics/home-page/search-button.svg"] {
    display: none;
    pointer-events: none;
}

.testBtn {
    background-color: #bc0505;
    color: #fcfcfc;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    width: 50%;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: none;
    padding-block: 1%;
    
}

.img-screen {
    position: absolute;
    top: 2%;
    right: 72%;
}

.signBahd10 {
    width: 35%;
}

.signForce {
    width: 50%;
}

.href-div {
    display: flex;
    justify-content: center;
    right: 5%;
    flex-direction: column;
    position: relative;
}

a {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Adjust the spacing as needed */
    /* text-decoration: none; Optional: Remove underline from links */
    color: #b70404; /* Optional: Set link color */
}
.href-div a:last-child {
    margin-bottom: 0; /* Remove margin from the last link */
}

table, td, tr {
    padding: 1rem;
}

li {
    padding-top: 2rem;
}

.numbers {
    font-family: impact;
    font-size: 5rem;
    margin-right: 4vw;
}

.num1 {
    position: absolute;
    top: 13vh ;
    text-shadow: 4px 4px 0px rgb(150 47 193) /* Purple shadow */
}

.num2 {
    position: absolute;
    top: 31vh ;
    text-shadow: 4px 4px 0px rgb(150 47 193) /* Purple shadow */
}

.num3 {
    position: absolute;
    top: 49vh ;
    text-shadow: 4px 4px 0px rgb(150 47 193) /* Purple shadow */
}


.deleted {
    width: 100vw;
    height: 6rem;
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: #d9c8f0;
}